<div id="index" class="row">
<p>	
  	Hola, mi nombre es Israel Canul y esta es mi pequeña contribucion al mundo de la programacion, codigo codigo y mas codigo<br>
</p>

<section class="contenedor-noticias col s12 m9 l10">
 		<h1>Ultimas Noticias</h1>
 		<article>
 			<a href="#" class="link title">
 				"Gulp", que es y como se come.
 			</a>
 			<div class="box">
 				<img src="img/img_gulp.png" />
	 			<p>


	 				Generalmente a la hora de programar nos topamos con miles de tareas que tenemos que hacer tanto antes asi como despuesd e generar codigo, muchas veces si bien no es dificil es perdida de tiempo que bien podriamos ocupar en otras tareas como PROGRAMAR.

	 				Es ahi donde podemos tener a gulp como uno de nuestros gestores de tareas, y practicamente eso es, un gestor de tareas comunes en la vide de nuestro proyecto y que hoy en dia es mucho mas que eso. 

	 				En este articulo veremos la forma de como instalar esta grandiosa herramienta en la vida de un desarrollador web

	 				...
	 			</p>
 			</div>
 		</article>
  </section>
  <section class="contenedor-lateral col s12 m3 l2">
 		

  </section>
</div>
