<div class="w3-example" align="center">
<h3>Estructura HTML5</h3>
<div class="w3-code notranslate htmlHigh">
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>!DOCTYPE<span style="color:red"> html</span><span style="color:mediumblue">&gt;</span></span><br>
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>html<span style="color:mediumblue">&gt;</span></span><br>
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>head<span style="color:mediumblue">&gt;</span></span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>meta<span style="color:red"> charset<span style="color:mediumblue">="UTF-8"</span></span><span style="color:mediumblue">&gt;</span></span><br>
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>title<span style="color:mediumblue">&gt;</span></span><em>Title of the document</em><span style="color:brown"><span style="color:mediumblue">&lt;</span>/title<span style="color:mediumblue">&gt;</span></span><br>
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>/head<span style="color:mediumblue">&gt;</span></span><br><br>
  <br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>body<span style="color:mediumblue">&gt;</span></span><br>
  <br>
<em>Content of the document......</em><br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>/body<span style="color:mediumblue">&gt;</span></span><br>
<br>
<span style="color:brown"><span style="color:mediumblue">&lt;</span>/html<span style="color:mediumblue">&gt;</span></span>
</div>
</div>

<!-- Ejemplo de secciones -->
<br>
<br>
<h1>Ejemplo1 </h1>
<div class="card hoverable">
  <p style="">
    Ejemplo : <a href="http://royalresorts.mobi/rr2016/build/thomasmore/">link</a>
  </p>
</div>
 <br><br>


<!-- titulos -->
<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<br><br>



<!-- manejo de texto  -->
<h1>Parrafo</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus nibh, rutrum non pellentesque ut, efficitur sed quam. Phasellus mollis sem in turpis ullamcorper tempus in in mauris. Fusce mi est, sodales et tortor et, tristique iaculis dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vehicula id dui eu maximus. Duis sit amet ullamcorper eros. Sed quis commodo velit, at lobortis sapien. Nam bibendum odio dolor, nec fringilla mi maximus a. Ut pharetra, diam vitae sollicitudin feugiat, enim lacus volutpat metus, eu lobortis neque dui sed justo. Vestibulum luctus arcu velit, vel facilisis massa scelerisque eget. Pellentesque non sodales sem. In scelerisque felis augue, eu scelerisque velit semper eget. Suspendisse luctus pharetra nulla, sed iaculis est vestibulum id. Etiam sodales, nulla ut cursus scelerisque, nulla sapien porttitor tellus, sit amet malesuada dolor augue sollicitudin nulla. Sed eget purus ac urna lacinia condimentum. Etiam lacus neque, malesuada vitae augue sit amet, convallis sagittis nisi.
</p>
<br><br>


<!-- Lista -->
<h1>Lista</h1>
<ul id="lista" >
  <li class="item">Opcion 1</li>
  <li class="item text-azul">Opcion 2</li>
  <li class="item">Opcion 3</li>
</ul>



<!-- links  -->
<br><br>
<h1>Link</h1>
<a href="#">Ejemplo de link</a>
<br><br>

<!-- secciones -->
<h1>Seccion</h1>
<section>
   <h1>WWF</h1>
   <p>The World Wide Fund for Nature (WWF) is....</p>
</section>
<br><br>

<!-- Articulo -->
<h1>Articulo</h1>
<article>
  <h1>What Does WWF Do?</h1>
  <p>WWF's mission is to stop the degradation of our planet's natural environment,
  and build a future in which humans live in harmony with nature.</p>
</article>
<br><br>

<!-- Tabla -->
<h1>Tabla</h1>
<table>
  <colgroup>
  <col  style="background-color:red">
  <col style="background-color:yellow">
</colgroup>
  <caption>Titulo de Tabla</caption>
  <thead>
    <tr>
      <th>Month</th>
      <th>Savings</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>January</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>February</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>
