
header{
  @include clearfix;
  width: 100%;
  z-index: 1000;
  top: 0px;
  background-color:$blanco;
  @include tablet{

  };
  nav{
    width: 100%;
    position: relative;
    background-color: visibility ;
    height: 65px;
    text-align: center;
    @include tablet{
      height: 90px;
    };
    .menu-mobile{
      display: block;
      float: right;
      margin-right: 5px;
      @include nomobileNav{
        display: none;
      };
      a{
        height: 52px;
        display: block;
        margin-top: 15px;
        box-sizing: border-box;
        color: $dorado;
        transition: all 3s easy;
        &:hover{
          background-color: $gris-texto;
          color: white;
        }
        i{
          font-size: 50px;  /* Preferred icon size */
        }
        @include nomobileNav{
          margin-top: 30px;
        }
      }
    }
    @include clearfix;
    img{
      max-width: 100%;
      position: relative;
      height: 65px;
      left: 15px;
      top: 5px;
      bottom: 0;
      float: left;
      @include nomobileNav{
        margin-left: 20px;

        height: 75px;
        top: 5px;
      }
    }
    ul{
      &.wrap-menu{
        z-index: 2;
        transition: ease-in-out, left .5s ease-in-out;
        float: right;
        margin: 0;
        margin-right:20px;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
        position: fixed;
        height:100%;
        top: 0px;
        width:$leftMenuMobile;
        left: -#{$leftMenuMobile};
        background-color: $gris;
        overflow: scroll;
        @include clearfix;

        &.active{
          left: 0%;
        }
        @include nomobileNav{
          position: relative;
          float: right;
          width: auto;
          left: 0;
          height:auto;
          margin: 0;

          padding:0px;
          list-style-type: none;
          background-color: transparent;
          overflow: visible;
        };
        @include desktop{
          margin-right:20px;
        };


        li.menu-item{
          line-height: 30px;
          position: relative;
          @include nomobileNav{
            float: left;
            line-height: 90px;
            overflow-y: visible;
          }
          a.link-item{
            text-transform: uppercase;
            padding: 15px;
            padding-left: 10px;
            padding-right:10px;
            font-size:1rem;
            text-align: left;
            font-weight: bold;
            height: auto;
            text-decoration: none;
            color: $negro;
            font-family: 'trajan-bold';
            display: block;
            &:hover{
              transition: all 0.5s ease;
              background-color: $dorado;
            }
            &.active{
              color: $dorado;
              background-color: transparent;
              @include nomobileNav{
                border: 1px solid $dorado;
                display: initial;
              }
            }
            @include tablet{

            };
            @include nomobileNav{
              font-size: 0.5rem;
              height: 90px;
              display: initial;
            }
            @include nomobileNav1000{
              font-size: 0.7rem;
            };
            @include desktop{
              font-size: 0.9rem;
              padding-left: 15px;
              padding-right:15px;
            };
          }
          ul{
            &.dropdown-menu{
              margin-left: 0px;
              padding-left: 0px;
              display: none;
              border-top: 0px solid $dorado;
              border-bottom: 0px solid $dorado;
              padding-top:5px;

              @include nomobileNav{
                box-shadow:4px 5px 10px 2px $gris-texto;
                border-top: 0px solid $dorado;
                border-bottom: 0px solid $dorado;
                padding-top:0px;
              }
              &.active{
                display: block;

                @include nomobileNav{
                  position:absolute;
                  width:200px;
                  top:75px;
                  background-color: $blanco;
                }
                &.lastItem{//se cambia la posicion del menu desplegable por ser el ultimo item
                  right: 0px;
                  @include nomobileNav{
                    li{
                      a{
                        text-align: center;
                        margin-left: 0px;
                      }
                    }
                  };
                  @include desktop-max{
                    right: auto;

                  };
                }
                li{
                  line-height: normal !important;
                  display: block;
                  @include nomobileNav{
                    display: table;
                    width: 100%;
                  };

                  a{
                    text-align: left;
                    margin-left: 20px;
                    display: block;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    color: $rojoNav;
                    font-family: 'trajan-bold';
                    font-size: 0.8rem;
                    text-decoration: none;
                    margin-bottom: 5px;
                    border-bottom: 0.1rem solid $gris;
                    @include nomobileNav{
                      color: $negro;
                      padding-top: 10px;
                      padding-bottom: 10px;

                      margin-bottom: 0px;
                    }
                    &:hover{
                      background-color: $dorado;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
