@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
  .material-icons.small {
    font-size: 20px; }

@font-face {
  font-family: 'trajan-bold';
  src: url("../fonts/TrajanPro-Bold.otf") format("embedded-opentype");
  src: url("../fonts/TrajanPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'open-sans-light';
  src: url("../fonts/OpenSans-Light.otf") format("embedded-opentype");
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  src: url("../fonts/OpenSans-Light.woff") format("woff"); }

@font-face {
  font-family: 'open-sans-italic';
  src: url("../fonts/OpenSans-Italic.otf") format("embedded-opentype");
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
  src: url("../fonts/OpenSans-Italic.woff") format("woff"); }

@font-face {
  font-family: 'trajan-regular';
  src: url("../fonts/TrajanPro-Regular.otf") format("embedded-opentype");
  src: url("../fonts/TrajanPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'open-sans-regular';
  src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype");
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  src: url("../fonts/OpenSans-Regular.woff") format("woff"); }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    margin-bottom: 10px; }
    .row .col:after {
      content: "";
      display: table;
      clear: both; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: auto; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: auto; }
    .row .col.s3 {
      width: 25%;
      margin-left: auto; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: auto; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: auto; }
    .row .col.s6 {
      width: 50%;
      margin-left: auto; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: auto; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: auto; }
    .row .col.s9 {
      width: 75%;
      margin-left: auto; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: auto; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: auto; }
    .row .col.s12 {
      width: 100%;
      margin-left: auto; }
    @media only screen and (max-width: 767px) {
      .row .col.offset-s1 {
        margin-left: 8.33333%; }
      .row .col.offset-s2 {
        margin-left: 16.66667%; }
      .row .col.offset-s3 {
        margin-left: 25%; }
      .row .col.offset-s4 {
        margin-left: 33.33333%; }
      .row .col.offset-s5 {
        margin-left: 41.66667%; }
      .row .col.offset-s6 {
        margin-left: 50%; }
      .row .col.offset-s7 {
        margin-left: 58.33333%; }
      .row .col.offset-s8 {
        margin-left: 66.66667%; }
      .row .col.offset-s9 {
        margin-left: 75%; }
      .row .col.offset-s10 {
        margin-left: 83.33333%; }
      .row .col.offset-s11 {
        margin-left: 91.66667%; }
      .row .col.offset-s12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 767px) {
      .row .col.m1 {
        width: 8.33333%; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.m2 {
        width: 16.66667%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.m3 {
        width: 25%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.m4 {
        width: 33.33333%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.m5 {
        width: 41.66667%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.m6 {
        width: 50%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.m7 {
        width: 58.33333%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.m8 {
        width: 66.66667%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.m9 {
        width: 75%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.m10 {
        width: 83.33333%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.m11 {
        width: 91.66667%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.m12 {
        width: 100%; }
      .row .col.offset-m12 {
        margin-left: 100%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 1400px) {
      .row .col.l1 {
        width: 8.33333%; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.l2 {
        width: 16.66667%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.l3 {
        width: 25%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.l4 {
        width: 33.33333%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.l5 {
        width: 41.66667%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.l6 {
        width: 50%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.l7 {
        width: 58.33333%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.l8 {
        width: 66.66667%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.l9 {
        width: 75%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.l10 {
        width: 83.33333%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.l11 {
        width: 91.66667%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.l12 {
        width: 100%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }

.hide-s {
  display: none; }
  @media only screen and (min-width: 767px) {
    .hide-s {
      display: initial; } }

.show-s {
  display: initial; }
  @media only screen and (min-width: 767px) {
    .show-s {
      display: none; } }

header {
  width: 100%;
  z-index: 1000;
  top: 0px; }
  header nav {
    width: 100%;
    position: relative;
    background-color: visibility;
    height: 65px;
    text-align: center; }
    @media only screen and (min-width: 767px) {
      header nav {
        height: 90px; } }
    header nav .menu-mobile {
      display: block;
      float: right;
      margin-right: 5px; }
      @media only screen and (min-width: 900px) {
        header nav .menu-mobile {
          display: none; } }
      header nav .menu-mobile a {
        height: 52px;
        display: block;
        margin-top: 15px;
        box-sizing: border-box;
        color: #3399ff;
        transition: all 3s easy; }
        header nav .menu-mobile a:hover {
          background-color: #666666;
          color: white; }
        header nav .menu-mobile a i {
          font-size: 50px;
          /* Preferred icon size */ }
        @media only screen and (min-width: 900px) {
          header nav .menu-mobile a {
            margin-top: 30px; } }
    header nav:after {
      content: "";
      display: table;
      clear: both; }
    header nav img {
      max-width: 100%;
      position: relative;
      height: 65px;
      left: 15px;
      top: 5px;
      bottom: 0;
      float: left; }
      @media only screen and (min-width: 900px) {
        header nav img {
          margin-left: 20px;
          height: 75px;
          top: 5px; } }
    header nav ul.wrap-menu {
      z-index: 2;
      transition: ease-in-out, left .5s ease-in-out;
      float: right;
      margin: 0;
      margin-right: 20px;
      padding: 0;
      overflow: hidden;
      list-style-type: none;
      position: fixed;
      height: 100%;
      top: 0px;
      width: 50%;
      left: -50%;
      background-color: #f9f9f9;
      overflow: scroll; }
      header nav ul.wrap-menu:after {
        content: "";
        display: table;
        clear: both; }
      header nav ul.wrap-menu.active {
        left: 0%; }
      @media only screen and (min-width: 900px) {
        header nav ul.wrap-menu {
          position: relative;
          float: right;
          width: auto;
          left: 0;
          height: auto;
          margin: 0;
          padding: 0px;
          list-style-type: none;
          background-color: transparent;
          overflow: visible; } }
      @media only screen and (min-width: 1400px) {
        header nav ul.wrap-menu {
          margin-right: 20px; } }
      header nav ul.wrap-menu li.menu-item {
        line-height: 30px;
        position: relative; }
        @media only screen and (min-width: 900px) {
          header nav ul.wrap-menu li.menu-item {
            float: left;
            line-height: 90px;
            overflow-y: visible; } }
        header nav ul.wrap-menu li.menu-item a.link-item {
          text-transform: uppercase;
          padding: 15px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 1rem;
          text-align: left;
          font-weight: bold;
          height: auto;
          text-decoration: none;
          color: #000000;
          font-family: 'trajan-bold';
          display: block; }
          header nav ul.wrap-menu li.menu-item a.link-item:hover {
            transition: all 0.5s ease;
            background-color: #3399ff; }
          header nav ul.wrap-menu li.menu-item a.link-item.active {
            color: #3399ff;
            background-color: transparent; }
            @media only screen and (min-width: 900px) {
              header nav ul.wrap-menu li.menu-item a.link-item.active {
                border: 1px solid #3399ff;
                display: initial; } }
          @media only screen and (min-width: 900px) {
            header nav ul.wrap-menu li.menu-item a.link-item {
              font-size: 0.5rem;
              height: 90px;
              display: initial; } }
          @media only screen and (min-width: 1000px) {
            header nav ul.wrap-menu li.menu-item a.link-item {
              font-size: 0.7rem; } }
          @media only screen and (min-width: 1400px) {
            header nav ul.wrap-menu li.menu-item a.link-item {
              font-size: 0.9rem;
              padding-left: 15px;
              padding-right: 15px; } }
        header nav ul.wrap-menu li.menu-item ul.dropdown-menu {
          margin-left: 0px;
          padding-left: 0px;
          display: none;
          border-top: 0px solid #3399ff;
          border-bottom: 0px solid #3399ff;
          padding-top: 5px; }
          @media only screen and (min-width: 900px) {
            header nav ul.wrap-menu li.menu-item ul.dropdown-menu {
              box-shadow: 4px 5px 10px 2px #666666;
              border-top: 0px solid #3399ff;
              border-bottom: 0px solid #3399ff;
              padding-top: 0px; } }
          header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active {
            display: block; }
            @media only screen and (min-width: 900px) {
              header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active {
                position: absolute;
                width: 200px;
                top: 75px;
                background-color: #ffffff; } }
            header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active.lastItem {
              right: 0px; }
              @media only screen and (min-width: 900px) {
                header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active.lastItem li a {
                  text-align: center;
                  margin-left: 0px; } }
              @media only screen and (min-width: 1900px) {
                header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active.lastItem {
                  right: auto; } }
            header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active li {
              line-height: normal !important;
              display: block; }
              @media only screen and (min-width: 900px) {
                header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active li {
                  display: table;
                  width: 100%; } }
              header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active li a {
                text-align: left;
                margin-left: 20px;
                display: block;
                padding-top: 7px;
                padding-bottom: 7px;
                color: #660000;
                font-family: 'trajan-bold';
                font-size: 0.8rem;
                text-decoration: none;
                margin-bottom: 5px;
                border-bottom: 0.1rem solid #f9f9f9; }
                @media only screen and (min-width: 900px) {
                  header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active li a {
                    color: #000000;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 0px; } }
                header nav ul.wrap-menu li.menu-item ul.dropdown-menu.active li a:hover {
                  background-color: #3399ff; }

.responsive-img {
  max-width: 100%;
  width: 100%;
  height: auto; }

@media only screen and (min-width: 767px) {
  .without-margin-bottom {
    margin-bottom: 0px !important; } }

.without-padding {
  padding: 0px !important; }

.center-align {
  text-align: center; }

body {
  margin: 0px; }

.picker__header {
  font-family: 'open-sans-light';
  color: #3399ff; }

.picker__table {
  font-family: 'open-sans-light'; }
  .picker__table .picker__day--today:before {
    border-top-color: #3399ff; }
  .picker__table .picker__day--selected.picker__day--highlighted {
    background: #3399ff;
    border-color: #3399ff; }

.picker__footer .picker__button--today {
  font-family: 'open-sans-light'; }

.picker__footer .picker__button--clear {
  font-family: 'open-sans-light'; }

.picker__footer .picker__button--close {
  font-family: 'open-sans-light'; }

.right {
  float: right !important; }

.left {
  float: left !important; }
