<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <!-- css completo de la pagina-->
    <link type="text/css" rel="stylesheet" href="css/app.css"  media="screen,projection"/>

    <!-- Fuentes externas -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ _page.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
      <nav>
        <img src="img/logoresidences.png" alt="logo" />
        <div class="menu-mobile">
          <a class="btn-open-menu" href="#"><i class="material-icons">dehaze</i></a>
        </div>
        <ul class="wrap-menu">
          <li class="menu-item"><a class="link-item"  href="#home">Home</a></li>
          <li class="menu-item"><a class="link-item" href="#news">Suites</a></li>
          <li class="menu-item"><a class="link-item active" href="#contact">Offerts</a></li>
          <li class="menu-item"><a class="link-item" href="#about">Gallery</a></li>
          <li class="menu-item">
            <a class="link-item" href="#about">Services</a>
            <ul class="dropdown-menu lastItem">
              <li><a href="http://www.grandresidencesbyroyalresorts.com/app/cybermall/kitchen.aspx">Kitchen Starter</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/spa.asp">Spa</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/fitness-center.asp">Fitness Center</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/tours.asp">Tours</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/restaurants-and-bars.asp">Restaurant &amp; Bars</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/the-gourmet-food-market.asp">Gourmet Food Market</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/24hr-room-service.asp">24hr Room Service</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/catering-and-special-events.asp">Catering &amp; Events</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/activities.asp">Activities</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/sports.asp">Sports</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/concierge-service.asp">Concierge Service</a></li>
              <li><a href="http://www.grandresidencesbyroyalresorts.com/app/cybermall/kitchen.aspx">Market</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/guest-services/transport.asp">Transport</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a class="link-item" href="#about">Riviera Maya</a>
            <ul class="dropdown-menu lastItem">
            <li><a href="http://grandresidencesbyroyalresorts.com/riviera-maya/getting-here.asp">Getting Here Map</a></li>
            <li><a href="http://grandresidencesbyroyalresorts.com/riviera-maya/puerto-morelos.asp">Puerto Morelos</a></li>
            <li><a href="http://grandresidencesbyroyalresorts.com/riviera-maya/cancun.asp">Cancun</a></li>
            <li><a href="http://grandresidencesbyroyalresorts.com/riviera-maya/playa-del-carmen.asp">Playa del Carmen</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a class="link-item" href="#about">Media Room</a>
            <ul class="dropdown-menu lastItem">
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/floorplans.asp">Floorplans</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/siteplans.asp">Siteplans</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/virtual-tour.asp">Virtual Tour</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/videos.asp">Videos</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/fact-sheet.asp">Fact Sheet</a></li>
              <li><a href="http://grandresidencesbyroyalresorts.com/media-room/press-releases.asp">Press Releases</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    </header>
  <!-- Aqui va el contenido de cada una de las secciones -->
  {{{ content }}}
  <!-- Aqui va el contenido de cada una de las secciones -->
  </body>
</html>
